* text=auto eol=lf

*.blade.php linguist-language=Blade
*.css linguist-language=CSS
*.html linguist-language=HTML
*.md linguist-language=Markdown
*.php linguist-language=PHP

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
